.listItem {
    p {
        font-size: 15px;
    }
    border-bottom: 1px solid var(--fontC);
    border-left: 1px solid var(--fontC);
    transform: translate(.1em, -.1em);
    transition: all 0.4s;
    &:hover {
        transform: translate(0, 0);
    }
    &:active {
        background-color: var(--fontC);
        color: var(--bodyBg);
    }
}