.header {
    background-color: var(--fontC);
    color: var(--bodyBg);
    h1 {
        margin: 0 auto;
        font-size: 22px;
        font-weight: bold;
        line-height: 2.4em;
        text-align: center;
    }
}