.main {
    padding: 19px;
    h1 {
        font-size: xx-large;
        font-weight: 700;
    }
    h2 {
        font-size: x-large;
        font-weight: 700;
    }
    h3 {
        font-size: large;
        font-weight: 700;
    }
}