.loadCircle {
    border-radius: 50%;
    background-color: var(--fontC);
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    -webkit-animation: wave 1s infinite ease-in-out;
    animation: wave 1s infinite ease-in-out;
}

.loadCircle2 {
    border-radius: 50%;
    background-color: var(--fontC);
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    -webkit-animation: wave 2s infinite ease-in-out;
    animation: wave 2s infinite ease-in-out;
}

@-webkit-keyframes wave {
    0% {
        opacity: .2;
        transform: scale(0) translate(-50%, -50%);
    }
    50.1% {
        opacity: .8;
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        opacity: .2;
        transform: scale(0) translate(-50%, -50%);
    }
}

@keyframes wave {
    0% {
        opacity: .2;
        transform: scale(0) translate(-50%, -50%);
    }
    50.1% {
        opacity: .8;
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        opacity: .2;
        transform: scale(0) translate(-50%, -50%);
    }
}