.body {
    margin-top: 40px;
    h1 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 39px;
        margin-top: 39px;
    }
    h2 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 29px;
    }
}

.headerImg {
    position: relative;
    width: 100%;
    height: 200px;
}

.back {
    color: #32ccff;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        border-bottom: #32ccff 2px solid;
    }
}