.body {
    margin-top: 40px;
    h2 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 39px;
    }
}

.back {
    color: #32ccff;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        border-bottom: #32ccff 2px solid;
    }
}